@font-face {
  font-family: 'Poppins';
  src: url(/elements/fonts/Poppins-ExtraBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url(./elements/fonts/Poppins-Light.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  width: 330px;
  margin: auto;
}

.logo, a:link {
  font-weight: 700;
  color: #6070FF;
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background: #ffffff;
  border-radius: 16px;
  max-width: 327px;
  margin: auto;
  margin-bottom: 70px;
  background-image: url(./elements/bglmnt.png);
  background-repeat: no-repeat;
}

.space {
  height: 60px;
}

.art1 {
  color: #172b4d;
  width: 327px;
  font-weight: bold;
  margin: auto;
  font-size: 30px;
}

.art2 {
  color: #344563;
  width: 327px;
  margin: auto;
  font-size: 16px;
}

.ltscnct {
  font-weight: 500;
  color: #7F8CFF;
}

.parent2 {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 170px;
}

ul {
  padding-inline-start: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background: #ffffff;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  max-width: 327px;
  margin: auto;
  margin-bottom: 70px;
}

.prmry-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 295px;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #172B4D;
}

.clnt {
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

.role,.year {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;  
}

.crdtxt {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 205px;
  padding: 0;
  list-style: none;
  gap: 8px;
}

.tgs {
  background: #d1d1e5;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070ff;
}

.actn {
  width: 295px;
}

.prjctbtn {
  /* button */
  display: flex;
  align-items: center;
  border: 2px solid #396df2;
  border-radius: 10px;
  padding: 8px 16px;
}

.btntxt {
  /* font */
  font-weight: 500;
  font-size: 17px;
  color: #396DF2;
  text-align: center;
  letter-spacing: 0.03em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  max-width: 330px;
  margin: auto;
  margin-top: 70px;
}

.Resume {
  list-style: none;
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 327px;
  margin-top: 30px;
  padding: 0;
  align-items: flex-start;
}

.ctgry, .ctgryz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 327px;
  border-bottom: 2px solid#DFE1E6;
  padding: 8px 16px;
  margin: 10px 2px;
}

.ctgryz {
  border: #ffffff;
}

.ctgry2 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.ctgry3 {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #253858;
}

.icn {
  display: flex;
  flex-direction: row;
  background: #F7F7F9;
  border-radius: 8px;
  align-items: center;
  width: 327px;
  margin-bottom: 10px;
  padding: 8px 16px;
}
